<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="layout_test1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div>
    <div class="header">
      <div class="header-logo"></div>
      <div class="header-banner"></div>
    </div>
    <div class="nav-bar">
      <span class="nav-content">Home </span>
      <span class="nav-content">Students </span>
      <span class="nav-content">Courses </span>
      <span class="nav-content">About us </span>
      <span class="nav-content" style="border: none">Contact us </span>
      <span class="search1">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search">
      </span>
    </div>
    <div class="main">
      <div class="main-left">
        <div class="main-left-header">
          <p>Introduction</p>
          <p>News</p>
          <p>Education</p>
          <p>Register</p>
          <p>Courses</p>
        </div>
        <div class="main-left-content"></div>
      </div>
      <div class="main-mid">
        <div class="main-mid-slide">1</div>
        <div class="main-mid-slide">2</div>
        <div class="main-mid-news">3</div>
        <div class="main-mid-news">4</div>
        <div class="main-mid-news">5</div>
        <div class="main-mid-news">6</div>
        <div class="main-mid-news">7</div>
        <div class="main-mid-news">8</div>

      </div>
      <div class="main-right">
        <div class="content3-box1"></div>
        <div class="content3-box1"></div>
        <div class="content3-box1"></div>
      </div>

    </div>
    <div class="footer">
      <span class="footer-text1">LapTrinhWeb</span>
      <span class="footer-content">Home </span>
      <span class="footer-content">Students </span>
      <span class="footer-content">Courses </span>
      <span class="footer-content">About us </span>
      <span class="footer-content">Contact us </span>
    </div>
  </div>
</body>
</html>